body {
	background-color: #111;
}

article.first {
	font-family: "Times New Roman" Georgia;
	font-size: 100%;
	padding: 10px;
    border: 5px solid red;
    border-radius: 10px;
    background-color: purple;
    color: #39ff45;
    line-height: 20px;
}

article.second {
	font-family: Arial;
	font-size: 150%;
	padding: 5px;
    border: 6px solid yellow;
    border-radius: 50px 50px 50px 50px;
    background-color: grey;
    color: #FF4c4c;
    line-height: 77px;
}

article.third {
	font-family: Helvetica;
	font-size: 75%;
	padding: 17px;
    border: 4px solid black;
    border-radius: 70px;
    background-color: gold;
    color: #444444;
    line-height: 10px;
}

article.fourth {
	font-family: "Book Antiqua";
	font-size: 85%;
	padding: 10px 7px;
    border: 1px solid blue;
    border-radius: 100px;
    background-color: pink;
    color: #767670;
    line-height: 55px;
}

article.fifth {
	font-family: serif;
	font-size: 95%;
	padding: 5px 3px;
    border: 3px solid purple;
    border-radius: 150px;
    background-color: green;
    color: #fff;
    line-height: 25px;
}



